@font-face {
    font-family: "Video-Medium";
    src: url('./Video-Medium (1).ttf') format('truetype');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.content {
    position: relative;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Video-Medium", Video-MediuM;
    font-size: 28px;
    text-align: center;
}

.subtitle {
    font-size: 20px;
}

.formData {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 22px;
}

.formData > .inputBox {
    flex: 1 1;
    width: 16rem;
    margin: 20px 0;
    border-radius: 1rem;
    border: 1px solid #797979;
}

.inputBox > input {
    width: 100%;
    padding: 14px 22px;
    background-color: #F4F4F4;
    border-radius: 1rem;
}

.inputButton {
    flex: 1 1;
    width: 100%;
    margin: 12px 0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.inputButton > button {
    width: 5rem;
    padding: 12px 22px;
    background-color: #00FF59;
    color: black;
    border-radius: 1rem;
    border: 1px solid black;
}

